@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*Font styles*/
.kodchasan-extralight {
    font-family: "Kodchasan", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .kodchasan-light {
    font-family: "Kodchasan", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .kodchasan-regular {
    font-family: "Kodchasan", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kodchasan-medium {
    font-family: "Kodchasan", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .kodchasan-semibold {
    font-family: "Kodchasan", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .kodchasan-bold {
    font-family: "Kodchasan", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .kodchasan-extralight-italic {
    font-family: "Kodchasan", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .kodchasan-light-italic {
    font-family: "Kodchasan", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .kodchasan-regular-italic {
    font-family: "Kodchasan", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .kodchasan-medium-italic {
    font-family: "Kodchasan", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .kodchasan-semibold-italic {
    font-family: "Kodchasan", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .kodchasan-bold-italic {
    font-family: "Kodchasan", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
/*Font Styles*/ 
 
.mainNav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 50px;
    height: 50px;

}
.links{
  display: flex;
align-items: center;
height: 30px;
gap: 65px;

}
.routl
{
    
    text-decoration: none;
    color: #0E315D;
text-align: center;
font-family: Kodchasan;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.lego{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 80px;
    padding-left: 10px;
}
.lego img{
    width: 40px;
height: 46px;
}
.lego p{
    color: #0E315D;
text-align: center;
font-family: Kodchasan;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.loging button{
  border-radius: 9px;
background: #0D519B;
box-shadow: 0px 0px 17.5px 0px rgba(14, 49, 93, 0.25);
padding: 12px 18px;
justify-content: center;
align-items: center;
display: inline-flex;
color: #D6F2FF;
text-align: center;
font-family: Kodchasan;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
border: none;
}
